{% extends 'base.html' %}
{% block body %}
<div id="welcome">
    <h2>Bienvenue dans le blog</h2>

    <div class="row">
        {% for key in news %}
        <div class="col-md-4">
            
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="{{ key.Get('affiche') }}" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">{{ key.Get('name') }}</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
                        content.</p>
                    <a href="{{ path('blog_show',[key.Get('id')]) }}" class="btn btn-primary">lire la suite</a>
                </div>
            </div>
           
        </div>
        {% endfor %}
    </div>

    


</div>
{% endblock %}